body{
	background-color: #ffffff;
	font-family: SVN-Avo;
	margin: 0px auto ;
}

#header {
    margin: 0px auto;
	margin-left: 250px;
	font-family: SVN-Avo;
	font-size: 20;
	font-weight: 800;
	position: relative;
	height: 100px;
	background-color:#ffffff;

}

#header img {
    width: 138px;
    height: 100px;
}

#header ul li {
	
	list-style: none;
	display: inline-block;
	
}

#header ul li a {
	text-decoration: none;
	display: block;
	padding: 0px 20px 0px 20px;
	color: gray;
	margin-bottom: 30px;
	line-height: 100px;
	
	font-size: 20px;
	font-weight: 800;
}

.content-body {
	padding-top: 120px;
	display: grid;
	grid-template-columns: 350px 1250px;
}

th {
	text-align: center;

}

a {
	text-decoration: none;
	color: gray;
}

.cat{
	margin-left: 100px;
}

.cat th {
	background-color:  gray;
	width: 204px;
	display: block;
	color: #ffffff;
	line-height: 40px;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 400;
}

.cat td{
	border: 2px solid gray;
	margin: 5px auto;
	width: 200px;
	display: block;
	text-align: center;
	line-height: 40px;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 400;
}



.title-search {
	
	width: 800px;
	height: 100px;
	background-color: gray;
	font-size: 40px;
	font-weight: 800;
	color: #ffffff;
}

.title-search span {
	margin-left: 50px;
	line-height: 80px;
}

.login {
	
    margin-top: 100px;
    margin-left: 50px;
    width: 400px;
    display: grid;
    grid-template-columns:150px 250px ;
}
.login input {
     margin-top: 10px;
}

.login span {
    text-align: center;
    margin-top: 10px;
}

.login-button {
	margin-left: 300px;
	margin-top: 30px;
}


.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 600px;
	margin-left: 100px	;
	
}
.form-style-6 h1{
	background: gray;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	
}


.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    font-size: 25px;
    margin-top: 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: gray;
	border-bottom: 2px solid rgb(240, 202, 202);
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
	background: gray;
}

.crud-cates {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 100px 500px;
    grid-template-rows: 80px 80px 80px;
}
span {
    line-height: 60px;
    margin-left: 10px;
}
 input {
     height: 60px;
 }

 textarea {
     height: 300px;
 }

 button {
     width: 80px;
     height: 40px;
     margin-top: 10px;
 }
