body{
	background-color: #ffffff;
	font-family: SVN-Avo;
	margin: 0px auto ;
}

#header {
    margin: 0px auto;
	margin-left: 250px;
	font-family: SVN-Avo;
	font-size: 20;
	font-weight: 800;
	position: relative;
	height: 100px;
	background-color:#ffffff;

}

#header img {
    width: 138px;
    height: 100px;
}

#header ul li {
	
	list-style: none;
	display: inline-block;
	
}

#header ul li a {
	text-decoration: none;
	display: block;
	padding: 0px 20px 0px 20px;
	color: gray;
	margin-bottom: 30px;
	line-height: 100px;
	
	font-size: 20px;
	font-weight: 800;
}


.content-body {
	padding-top: 120px;
	display: grid;
	grid-template-columns: 350px 1250px;
}

th {
	text-align: center;

}

.cat a {
	text-decoration: none;
	color: gray;
}

.cat{
	margin-left: 100px;
}

.cat th {
	background-color:  gray;
	width: 204px;
	display: block;
	color: #ffffff;
	line-height: 40px;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 400;
}

.cat td{
	border: 2px solid gray;
	margin: 5px auto;
	width: 200px;
	display: block;
	text-align: center;
	line-height: 40px;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 400;
}

.crud-story {
	width: 1200px;
	display: grid;
	grid-template-rows: 120px  auto;
}

.search-story {
	margin: 50px 150px;
}

.search-story input {
	width: 400px;
	height: 40px;
	border: gray solid 2px;
}

.search-story button {
	width: 100px;
	height: 40px;
	background-color: gray;
	color: #ffffff;
	font-weight: 700;
}

h3 {
	margin-top: 30px;
	font-size: 18px;
	font-weight: 600;
	width: 200px;
	height: 40px;
	background-color: gray;
	text-align: center;
	line-height: 40px;
	color: #ffffff;
}

.crud {
    width: 1200px;
	margin-top: 50px;

}

.story {
	text-align: center;
	width: 1100px;
}


.story .id {
	background-color:gray;
	width: 40px;
	height: 50px;
}
.story .name {
	background-color:gray;
	width: 80px;
	height: 50px;
}

.story .cate-story {
	background-color:gray;
	width: 60px;
	height: 50px;
}

.story .content {
	background-color:gray;
	width: 300px;
	height: 50px;
}

.story .status {
	background-color:gray;
	width: 60px;
	height: 50px;
}

.story .created-time {
	background-color:gray;
	width: 100px;
	height: 50px;
}

.story .created-user {
	background-color:gray;
	width: 80px;
	height: 50px;
}

.story .last-modified-time {
	background-color:gray;
	width: 100px;
	height: 50px;
}

.story .last-modified-user {
	background-color:gray;
	width: 80px;
	height: 50px;
}

.story th,td {
	font-size: 13px;
}
.ud th {
	height: 50px;
}

.create-story {
	padding-bottom: 30px;
}
 .crud th,td  {
	 border: 1px solid #000000;
 }

 .crud .update, .delete  {
	border: 1px solid #ffffff;
}